#about {
  width: 100vw;
  height: 100vh;
}

#about .about-container {
  padding: 120px 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about .about-container h1 {
  padding-bottom: 50px;
  font-size: 34px;
  font-weight: 700;
}

#about .about-container .text-about p {
  font-weight: 300;
}

#about .about-container .text-about p span {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
}
